body {
    width: 348px;
}

label {
    display: inline;
    font-weight: normal;
    cursor: pointer;
}

input[type=checkbox] {
    margin-right: 5px;
}

.btn-xs {
    padding: 0 5px 0;
    font-size: 11px;
}

.panel {
    border: none;
}

.panel-heading {
    padding: 3px 10px;
}

.panel-body {
    padding: 5px 10px;
}

.btn-toolbar > .btn-group.controls {
    margin-left: 44px;
}

#preloader > img {
    margin: 25px 142px;
}

#addContainer {
    padding: 10px 8px;
}

#albums, #compilations {
    margin-top: 10px;
}

#errorContainer, #downloadContainer {
    padding: 10px;
}

#downloadContainer {
    padding-top: 20px;
    font-size: 12px;
}

#startDownloadBtn {
    display: block;
    margin: 0 auto;
}
