body {
    width: 268px;
}
label {
    display: inline;
    font-weight: normal;
    cursor: pointer;
}
input[type=checkbox] {
    margin-right: 5px;
}
#addContainer {
    padding: 10px 8px 0;
}
#albums, #compilations {
    margin-top: 10px;
}
