select {
    width: 94px;
}

table {
    border-spacing: 0;
}

tbody::after {
    content: '';
    display: block;
    height: 10px;
}

td:nth-child(1) {
    padding-left: 4px;
}

td:nth-child(2) {
    padding-left: 10px;
    padding-bottom: 2px;
}

tbody > tr:nth-child(2n+2) {
    background-color: #EEE;
}
